.contact-us__title {
  @include regular-font
  font-size: 38px;
  line-height: 43px;
  color: $contact-us__title--Color;
  text-align: center;
  margin-bottom: 52px;
  max-width: 750px;
  @media (max-width: $lg - 1px){
    margin-bottom: 57px;
  }
  @media (max-width: $md){
    margin-bottom: 58px;
    font-size: 32px;
    max-width: 640px;
  }
  @media (max-width: $sm - 1px){
    font-size: 24px;
    line-height: 30px;
    max-width: 255px;
    margin-bottom: 11px;
  }
}
