mixin contact-us__input(modifier)
  if modifier["placeholder"] == undefined
    - modifier["placeholder"] = "empty__placeholder";
  input.contact-us__input(placeholder!=modifier.placeholder)&attributes(attributes)
