mixin about-us-screen__video(modifier)
  video.about-us-screen__video(controls width="250" preload="none" poster=require('../../img/videoPoster.png') )&attributes(attributes)
    source(src=require('../../img/video/forestChopping.mp4') type="video/mp4" media="(min-width: 601px)")
    source(src=require('../../img/video/forestChoppingMobile.mp4') type="video/mp4" media="(max-width: 600px)")
      

    p!="Sorry, your browser doesn't support embedded videos."