@import '__video/about-us-screen__video';
@import '__btn/about-us-screen__btn';
@import '__fact-description/about-us-screen__fact-description';
@import '__fact-head/about-us-screen__fact-head';
@import '__fact/about-us-screen__fact';
@import '__facts/about-us-screen__facts';
@import '__text/about-us-screen__text';
@import '__block-head/about-us-screen__block-head';
@import '__text-container/about-us-screen__text-container';
@import '__title/about-us-screen__title';
@import '__content/about-us-screen__content';
@import '../btn/btn';
.about-us-screen {
  padding-top: 50px;
  padding-bottom: 91px;
  font-family: 'Roboto' ,"Arial" , sans-serif;
}
