@import '__stage/collaboration-stages-screen__stage';
@import '__stages/collaboration-stages-screen__stages';
@import '__description/collaboration-stages-screen__description';
@import '__title/collaboration-stages-screen__title';
.collaboration-stages-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  @include py(76px);
  @media (max-width: $lg - 1px){
    padding-top: 76px;
    padding-bottom: 30px;
  }
  @media (max-width: $sm - 1px){
    padding-top: 60px;
    padding-bottom: 25px;
    @include px(10px);
  }
}
