mixin contact-us__text-area(modifier)
  if modifier["placeholder"] == undefined
    - modifier["placeholder"] = "empty__placeholder";
  textarea.contact-us__text-area(placeholder!=modifier.placeholder)&attributes(attributes)
