.contact-us__text-area {
  font-size: 14px;
  line-height: 16px;
  border: 1px solid $contact-us__text-area--BorderColor;
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  height: 115px;
  margin-bottom: 20px;
  box-sizing: border-box;
  &::placeholder {
    color: $contact-us__text-area-placeholder--Color;
  }
  @media (max-width: $md - 1px){
    height: 111px;
  }
}
