include __content/header__content.pug
include __sandwich-line/header__sandwich-line.pug
include __sandwich-button/header__sandwich-button.pug
include __language/header__language.pug
include __languages/header__languages.pug
include ../socials/socials.pug
include ../logo/logo.pug
include ../navigation/navigation.pug
mixin header(modifier)
  if modifier == undefined
    - modifier = {}
  header.header&attributes(attributes)
    +header__content(modifier)
    