@import '__sandwich-line/header__sandwich-line';
@import '__sandwich-button/header__sandwich-button';
@import '__logo/header__logo';
@import '__social/header__social';
@import '__language/header__language';
@import '__languages/header__languages';
@import '__socials/header__socials';
@import '__navigation-item/header__navigation-item';
@import '__navigation/header__navigation';
@import '../logo/logo';
.header {
  background-color: $header--BGColor;
  font-family: 'Roboto' ,"Arial" , sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $header--Color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1271px;
  box-sizing: border-box;
  padding-top: 9px;
  padding-left: 4px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: $xl - 1px){
    width: 100%;
    padding-right: 35px;
    padding-left: 25px;
    flex-wrap: wrap;
    transition: height 0.3s linear ;
    overflow: hidden;
  }
}
