@import '__content/header__content';
@import '__sandwich-line/header__sandwich-line';
@import '__sandwich-button/header__sandwich-button';
@import '__logo/header__logo';
@import '__social/header__social';
@import '__language/header__language';
@import '__languages/header__languages';
@import '__socials/header__socials';
@import '__navigation-item/header__navigation-item';
@import '__navigation/header__navigation';
@import '../logo/logo';
.header {
  background-color: $header--BGColor;
  font-family: 'Roboto' ,"Arial" , sans-serif;
  font-size: 16px;
  line-height: 19px;
  color: $header--Color;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;

  @media (max-width: $xl - 1px){
    overflow: hidden;
    transition: height 0.3s linear ;
  }
  @media (max-width: $md - 1px){
    justify-content: flex-end;
  }
}
