@font-face {
    font-family: 'Russo One';
    src: url('../../fonts/Russo_One/russoone-regular-webfont.woff2') format('woff2'),
         url('../../fonts/Russo_One/russoone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
