.header__languages {
  display: flex;
  font-size: 14px;
  line-height: 16px;
  padding-top: 7px;

  @media (max-width: $xl - 1px){
    order: 3;
    position: relative;
    left: 27px;
    bottom: 4px;
  }
  @media (max-width: $md - 1px){
    left: auto;
    bottom: 0;
    order: 2;
  }
}
