mixin contact-us__form-title(modifier)
  if modifier["formTitle"] == undefined
    - modifier["formTitle"] = "empty__formTitle";
  h3.contact-us__form-title&attributes(attributes)!=modifier.formTitle
