mixin header__content(modifier)
  .header__content&attributes(attributes)
    +logo(modifier)(class="header__logo")
    +navigation(modifier)
    +socials(modifier)
    +header__languages(modifier)
    +header__sandwich-button(modifier)