include __text-content/main-screen__text-content.pug
include __content/main-screen__content.pug
include __arrow/main-screen__arrow.pug
include __description/main-screen__description.pug
include __title/main-screen__title.pug
include ../btn/btn.pug
mixin main-screen(modifier)
  section.main-screen&attributes(attributes)
    +main-screen__content(modifier)