@import '__content/main-screen__content';
@import '__arrow/main-screen__arrow';
@import '__btn/main-screen__btn';
@import '__description/main-screen__description';
@import '__title/main-screen__title';
@import '../btn/btn';
.main-screen {
  color: $main-screen--Color;
  background: $main-screen--BGColor, url(../../img/main-screen-bg-picpng.png);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Roboto' ,"Arial" , sans-serif;
  @media (max-width: $md){
    background: $main-screen--BGColor, url(../../img/main-screen-bg-pic-tablet.png);
  }
  @media (max-width: $xs){
    background: $main-screen--BGColor, url(../../img/main-screen-bg-pic-mobile.png);
  }
}
