mixin navigation__item(modifier)
  if modifier["navigationItem"] == undefined
    - modifier["navigationItem"] = "empty__navigationItem";
  if modifier["navigationHref"] == undefined
    - modifier["navigationHref"] = "#!";
  li.navigation__item&attributes(attributes)
    a(href=modifier.navigationHref)!=modifier.navigationItem