include __item/navigation__item.pug
mixin navigation(modifier)
  if modifier["navigationItems"] == undefined
    - modifier["navigationItems"] = [{navigationItem: 'О компании'},{navigationItem: 'Продажи'},{navigationItem: 'Особенности'},{navigationItem: 'Контакты'}];
  nav.navigation&attributes(attributes)
    ul
      each item in modifier.navigationItems
        +navigation__item(item)