/* no sense variables */
$inherit: inherit;
$transparent: transparent;
$white: #ffffff;
$black: #000000;

$green: #22A627;

$gray: #b3b3b3;

/* variables with sense */
/* *********************************************************************** */

$logo-BGColor: $white;

$header__logo-text--Color: $green;
$header--Color: $black;
$header--BGColor : $white;
$header__navigation-item--Color: $header--Color;
$header__navigation-item-active--Color: $gray;
$header__sandwich-line--BGColor: $black;
$header__sandwich-line-after-before--BGColor: $header__sandwich-line--BGColor;
$header__navigation--BTColor : $gray;
$header__socials-md--BTColor : $gray;

$main-screen--BGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
