/* no sense variables */
$inherit: inherit;
$transparent: transparent;

$white: #ffffff;
$white-darker: rgba(196, 196, 196, 0.01);
$white-dark: rgba(255, 255, 255, 0.5);

$black: #000000;
$black-light: rgba(0, 0, 0, 0.4);
$black-lighter: rgba(0, 0, 0, 0.3);
$black-lightest: rgba(0, 0, 0, 0.12);

$green: #22A627;

$gray-darker: #575757;//rgba(0, 0, 0, 0.66)
$gray-dark: rgba(0, 0, 0, 0.5);
$gray: #b3b3b3;
$gray-lighter: #ECF1EC;

/* variables with sense */
/* *********************************************************************** */

$logo-BGColor: $white;

$header__logo-text--Color: $green;
$header--Color: $black;
$header--BGColor : $white;
$header__sandwich-line--BGColor: $black;
$header__sandwich-line-after-before--BGColor: $header__sandwich-line--BGColor;

$navigation--BTColor : $gray;
$navigation__item--Color: $header--Color;
$navigation__item-active--Color: $gray;

$socials-md--BTColor : $gray;
$socials__social--fill: $green;

$main-screen--BGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$main-screen--Color: $white;

$btn--BGColor: $green;
$btn--Color : $white;
$advantages-screen--BGColor: $gray-lighter;

$advantage-card--BGColor: $white;
$advantage-card__title--Color: $black;
$advantage-card__description--Color: $gray-darker;

$advantages-screen__description--Color: $gray-dark;

$price-card--ShadowColor: $black-lightest;
$price-card--BGColor: $white-darker;
$price-card__description--Color: $black-light;

$cooperation-screen--BGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
$cooperation-screen__title--Color: $white;
$cooperation-screen__description--Color: $white;

$collaboration-stages-screen__title--Color: $black;
$collaboration-stages-screen__description--Color: $black;
$collaboration-stages-screen__stage--Color: $black;
$collaboration-stages-screen__stage-before--Color: $collaboration-stages-screen__stage--Color;
$collaboration-stages-screen__stage--Shadow: $black-lightest;

$contact-us__title--Color: $black;
$contact-us__input-placeholder--Color: $black-lighter;
$contact-us__text-area-placeholder--Color: $contact-us__input-placeholder--Color;
$contact-us__input--BorderColor: $gray-dark;
$contact-us__text-area--BorderColor: $contact-us__input--BorderColor;
$contact-us__form--Shadow : $black-lightest;

$footer--BGColor: $black;
$footer__navigation--Color: $white;

$icon_youtube--fill: $white;
$footer__sign--Color: $white-dark;
