/* no sense variables */
$inherit: inherit;
$transparent: transparent;

$white: #ffffff;
$white-darker: rgba(196, 196, 196, 0.01);

$black: #000000;
$black-lighter: rgba(0, 0, 0, 0.12);

$green: #22A627;

$gray-darker: #575757;//rgba(0, 0, 0, 0.66)
$gray-dark: rgba(0, 0, 0, 0.5);
$gray: #b3b3b3;
$gray-lighter: #ECF1EC;

/* variables with sense */
/* *********************************************************************** */

$logo-BGColor: $white;

$header__logo-text--Color: $green;
$header--Color: $black;
$header--BGColor : $white;
$header__sandwich-line--BGColor: $black;
$header__sandwich-line-after-before--BGColor: $header__sandwich-line--BGColor;

$navigation--BTColor : $gray;
$navigation__item--Color: $header--Color;
$navigation__item-active--Color: $gray;

$socials-md--BTColor : $gray;
$socials__social--fill: $green;

$main-screen--BGColor: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
$main-screen--Color: $white;

$btn--BGColor: $green;
$btn--Color : $white;
$advantages-screen--BGColor: $gray-lighter;

$advantage-card--BGColor: $white;
$advantage-card__title--Color: $black;
$advantage-card__description--Color: $gray-darker;

$advantages-screen__description--Color: $gray-dark;

$price-card--ShadowColor: $black-lighter;
$price-card--BGColor: $white-darker;
