include __social/socials__social.pug
mixin socials(modifier)
  if modifier["socialPics"] == undefined
    - modifier["socialPics"] = [{socialPic: 'VK', href:"!#"},{socialPic: 'facebook', href:"!#"},{socialPic: 'instagram', href:"!#"}];
  ul.socials&attributes(attributes)
    each item in modifier.socialPics 
      li
        +socials__social(item)
