include ../../../img/svg/facebook.pug
include ../../../img/svg/VK.pug
include ../../../img/svg/instagram.pug
include ../../../img/svg/facebookNew.pug
include ../../../img/svg/VKNew.pug
include ../../../img/svg/instagramNew.pug
mixin header__social(modifier)
  if modifier["socialPic"] == undefined
    - modifier["socialPic"] = 'facebook';
  if modifier["socialHref"] == undefined
    - modifier["socialHref"] = "#!";
  a.header__social(href=modifier.socialHref)&attributes(attributes)
    //- span
    //-   +facebook()
    //-   +VK()
    //-   +instagram()

    case modifier.socialPic
      when "facebook"
        +facebookNew()
      when "VK"
        +vkNew()
      when "instagram"
        +instagramNew()