mixin price-card__wrapper(modifier)
  .price-card__wrapper&attributes(attributes)
    +price-card__price(modifier)
    +price-card__pic(modifier)
    +price-card__title(modifier)
    +price-card__description(modifier)