.footer{
  .footer__socials {
    margin-right: 37px;
    @media (max-width: $xl - 1px){
      order: 2;
      margin-right: 10px;
      align-items: center;

      li{
        margin-right: 35px;
        .socials__social svg{
          @include square(40px);
        }
      }
    }
    @media (max-width: $md - 1px){
      border-top: none;
      width: auto;
    }
    @media (max-width: $sm - 1px){
      order: 3;
      @include py(0px);
      margin-bottom: 20px;
      li{
        margin-right: 15px;
        &:last-child{
          margin-right:0px;
        }
        .socials__social svg{
          @include square(25px);
        }
      }
    }
    .socials__social {
      path{
        fill: white;
      }
      &:hover path{ fill: $socials__social--fill;}
      &:active path{ fill: darken($socials__social--fill,20%);}

    }
  }
}
