mixin prices-screen__slider(modifier)
  .prices-screen__slider&attributes(attributes)
    +price-card({
      price: "185 € за м²",
      picName: "brus1",
      title: "Доска строганая сухая",
      description: "20х90х3000 мм, хвоя, сорт 1 вл. 10-14%, ГОСТ"
    })