mixin main-screen__content(modifier)
  .main-screen__content&attributes(attributes)
    +main-screen__title(modifier)
    +main-screen__description(modifier)
    +btn(modifier)(class="main-screen__btn")
    +main-screen__arrow(modifier)