.footer__icon {
  margin-right: 75px;
  flex-shrink: 0;
  @media (max-width: $xl - 1px){
    order: 3;
    margin-right: 0px;
  }
  @media (max-width: $sm - 1px){
    order: 4;
    @include square(30px);
  }
}
