.header__navigation-item {
  a{
    color: $header__navigation-item--Color;
    transition: letter-spacing 0.3s, font-weight 0.3s;
  }
  &:hover{
    a{
      transition: letter-spacing 0.3s, font-weight 0.3s;
      font-weight: 600;
      letter-spacing: 1px;
    }
  }
  &:active{
    a{
      color: darken($header__navigation-item-active--Color,20%)
    }
  }
  @media (max-width: $md - 1px){
    margin-bottom: 15px;
    &:last-child{
      margin-bottom:0px;
    }
  }
}
