mixin about-us-screen__block-head(modifier)
  if modifier["blockHead"] == undefined
    - modifier["blockHead"] = "empty__blockHead";
  h3.about-us-screen__block-head&attributes(attributes)!=modifier.blockHead
