include ../../blocks/favicon/favicon.pug
//- include ../../blocks/header/header.pug
//- include ../../blocks/main-screen/main-screen.pug
//- include ../../blocks/advantages-screen/advantages-screen.pug
//- include ../../blocks/prices-screen/prices-screen.pug
//- include ../../blocks/about-us-screen/about-us-screen.pug
//- include ../../blocks/cooperation-screen/cooperation-screen.pug
//- include ../../blocks/collaboration-stages-screen/collaboration-stages-screen.pug
include ../../blocks/contact-us/contact-us.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title Лес Севера
    //-В папке build будет лежать файл фавикона, строки которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    //- +header()
    main
      //- +main-screen({
      //-   title: "Пиломатериал от производителя",
      //-   description: "Пиломатериал от производителя наивысшего качества. Компания “Лес севера” окажет услуги по доставке древесины быстро, в нужном  обьеме и в срок.",
      //-   buttonText: "Стать партнёром",
      //- })
      //- +advantages-screen({
      //-   title: "Наши преимущества",
      //-   description: "Почему стоит выбирать именно нас?",
      //-   cards:[
      //-     {
      //-       picName: 'cent',
      //-       title: 'Цена от производителя',
      //-       description: 'Закупка по оптовым ценам </br> от производителя',
      //-     },
      //-     {
      //-       picName: 'car',
      //-       title: 'Удобство доставки',
      //-       description: 'Реализация происходит быстро с учетом пожелания клиента в первую очередь',
      //-     },
      //-     {
      //-       picName: 'checkbox',
      //-       title: 'Высочайшее качество',
      //-       description: 'Наша продукция производиться из древесины северного леса России',
      //-     }
      //-   ]
      //- })
      //- +prices-screen({
      //-   title:'Цены оптового покупателя',
      //-   cards:[
      //-     {
      //-       price: "185 € за м²",
      //-       picName: "brus1",
      //-       title: "Доска строганая сухая",
      //-       description: "20х90х3000 мм, хвоя, сорт 1 вл. 10-14%, ГОСТ"
      //-     },
      //-     {
      //-       price: "170 € за м²",
      //-       picName: "brus2",
      //-       title: "Доска обрезная",
      //-       description: "40х100х6000 мм, хвоя, сорт3 свежий лес, ГОСТ"
      //-     },
      //-     {
      //-       price: "165 € за м²",
      //-       picName: "brus3",
      //-       title: "Брус",
      //-       description: "50х100х6000 мм, сорт 1 осина, ТУ"
      //-     },
      //-     {
      //-       price: "185 € за м²",
      //-       picName: "brus4",
      //-       title: "Брус обрезной сухой",
      //-       description: "50х50х6000мм, хвоя, сорт 1 вл. 10-14% ГОСТ"
      //-     },
      //-     {
      //-       price: "185 € за м²",
      //-       picName: "brus1",
      //-       title: "Доска строганая сухая",
      //-       description: "20х90х3000 мм, хвоя, сорт 1 вл. 10-14%, ГОСТ"
      //-     },
      //-     {
      //-       price: "185 € за м²",
      //-       picName: "brus1",
      //-       title: "Доска строганая сухая",
      //-       description: "20х90х3000 мм, хвоя, сорт 1 вл. 10-14%, ГОСТ"
      //-     },
      //-   ]
      //- })
      //- +about-us-screen({
      //-   title:"О компании",
      //-   blockHead1: "Лес северо-запада России",
      //-   blockHead2: "Интересные цифры компании “Лес Севера”",
      //-   text: "Мы молодая и амбициозная компания. Наши сотрудники участвуют в лесозаготовке больше 3-х лет. Себестоимость производства пиломатериалов в 2021года в третьем квартале составила  €170. Цена выросла и прогнозируется дальнейший рост. Покупать пиломатериалы компании “Лес Севера” выгодно сейчас в летне-осенний период.",
      //-   buttonText: "Оставить заявку",
      //-   facts: [
      //-     {
      //-       factHead:"90м²",
      //-       factDescription:"Доски помещается в вагон",
      //-     },
      //-     {
      //-       factHead:"До 5 дней",
      //-       factDescription:"Древесину будут пилить ",
      //-     },
      //-     {
      //-       factHead:"8 часов",
      //-       factDescription:"Загрузить в вагон",
      //-     },
      //-   ]
      //- })
      //- +cooperation-screen({
      //-   title:"Мы заинтересованы в сотрудничестве с юридическими лицами",
      //-   description: "Специализируемся по продаже пиломатериалов: лесозаготовка досок, бруса, фанеры.",
      //-   buttonText: "Связаться с нами"
      //- })
      //- +collaboration-stages-screen({
      //-   title: "Этапы взаимодействия с нами",
      //-   description: "Этапы позволяют наиболее камфортно воспользоваться услугами компании “Лес Севера”. Быстро, качественно и в срок, неотемленные сосотавляющии нашей фирмы.",
      //-   stages:[
      //-     {stageText:"Связаться с нашим менеджером"},
      //-     {stageText:"Определить тип пиломатериала"},
      //-     {stageText:"Определение цены товара и доставки"},
      //-     {stageText:"Согласование оплаты и доставки"},
      //-   ]
      //- })
      +contact-us({})