include ../../blocks/favicon/favicon.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title North forest
    //-В папке build будет лежать файл фавикона, строки которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    main
      