mixin VKNew(modifier)
  svg(xmlns='http://www.w3.org/2000/svg', width='25', height='25', viewBox='0 0 25 25', version='1.1')&attributes(attributes)
    path(d='M 0 12.530 L 0 25.060 12.750 24.780 L 25.500 24.500 25.781 12.250 L 26.062 0 13.031 0 L 0 0 0 12.530 M 0.385 13 C 0.385 19.875, 0.545 22.688, 0.740 19.250 C 0.936 15.813, 0.936 10.188, 0.740 6.750 C 0.545 3.313, 0.385 6.125, 0.385 13', stroke='none', fill='black', fill-rule='evenodd')