@import '__slider-pagination/prices-screen__slider-pagination';
@import '__content/prices-screen__content';
@import '__slider-arrow/prices-screen__slider-arrow';
@import '__slide/prices-screen__slide';
@import '__slider/prices-screen__slider';
@import '__title/prices-screen__title';
@import '../price-card/price-card';
@import '../../vendor/swiperJS/swiper-bundle';

.prices-screen {
  font-family: 'Russo One' ,"Arial" , sans-serif;
  @include px(20px);
  padding-top: 64px;
  padding-bottom: 30px;
  @media (max-width: $lg - 1px){
    padding-top: 49px;
    @include px(15px);
  }
}
