mixin footer__content(modifier)
  .footer__content&attributes(attributes)
    +logo(modifier)(class="footer__logo")
    +icon(modifier)(class="footer__icon icon_youtube")
    +navigation(modifier)(class="footer__navigation")
    +socials(modifier)(class="footer__socials")
    +footer__sign(modifier)