mixin main-screen__text-content(modifier)
  .main-screen__text-content&attributes(attributes)
    +main-screen__title(modifier)
    +main-screen__description(modifier)
    +btn(modifier)(class="main-screen__btn")