mixin header__navigation(modifier)
  if modifier["navigationItems"] == undefined
    - modifier["navigationItems"] = [{navigationItem: 'О компании'},{navigationItem: 'Продажи'},{navigationItem: 'Особенности'},{navigationItem: 'Контакты'}];
  nav.header__navigation&attributes(attributes)
    ul
      each item in modifier.navigationItems
        +header__navigation-item(item)