.contact-us__description {
  font-family: 'Roboto' ,"Arial" , sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: $cooperation-screen__description--Color;
  max-width: 380px;
  margin-bottom: 39px;
  @media (max-width: $md){
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 33px;
  }
  @media (max-width: $sm - 1px){
    line-height: 20px;
    max-width: 290px;
    margin-bottom: 20px;
  }
}
