@import '__wrapper/price-card__wrapper';
@import '__btn/price-card__btn';
@import '__description/price-card__description';
@import '__title/price-card__title';
@import '__pic/price-card__pic';
@import '__price/price-card__price';
@import '../btn/btn';
.price-card {
  font-family: 'Roboto' ,"Arial" , sans-serif;
  font-size: 18px;
  line-height: 21px;
  width: 290px;
  background: $price-card--BGColor;
  box-shadow: 0px 2px 15px $price-card--ShadowColor;
  border-radius: 10px;
  box-sizing: border-box;
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: $lg - 1px) and (min-width: $md){
    width: 330px;
  }
}
