.header__sandwich-button {
  display: none;
  @media (max-width: $xl - 1px){
    order: 4;
    width: 25px;
    height: 16px;
    position: relative;
    display: block;
    flex-shrink: 0;
    cursor: pointer;
    margin-top: -5px;
  }
  @media (max-width: $md - 1px){
    order: 3;
    top: 3px;
    margin-right: 10px;
  }
}
