.main-screen__title {
  font-size: 52px;
  line-height: 63px;
  font-weight: 600;
  letter-spacing: 1.6px;
  margin-bottom: 21px;
  text-align: center;
  @media (max-width: $md){
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 2px;
  }
  @media (max-width: $sm - 1px){
    line-height: 39px;
    margin-bottom: 18px;
  }
}
