mixin price-card__pic(modifier)
  if modifier["picName"] == undefined
    - modifier["picName"] = "brus1";
  case modifier.picName
    when "brus1"
      img(src=require('../../img/brus1.jpg') alt="тут должен быть брус").price-card__pic&attributes(attributes)
    when "brus2"
      img(src=require('../../img/brus2.jpg') alt="тут должен быть брус").price-card__pic&attributes(attributes)
    when "brus3"
      img(src=require('../../img/brus3.jpg') alt="тут должен быть брус").price-card__pic&attributes(attributes)
    when "brus4"
      img(src=require('../../img/brus4.jpg') alt="тут должен быть брус").price-card__pic&attributes(attributes)
      
  
