@import '__pic/contact-us__pic';
@import '__btn/contact-us__btn';
@import '__text-area/contact-us__text-area';
@import '__input/contact-us__input';
@import '__form-title/contact-us__form-title';
@import '__form/contact-us__form';
@import '__content/contact-us__content';
@import '__title/contact-us__title';
@import '../btn/btn';
.contact-us {
  font-family: 'Roboto' ,"Arial" , sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 74px;
}
